*,*::before *::after{
	margin:0px;
	padding:0px;
	/*-webkit-box-sizing:inherit;*/
	box-sizing:inherit;
}
body{
	font-family: "Nunito",sans-serif;
	/*background-color: #282726;*/
	background-color: #000000;
	color:#d6cab0;
	font-weight:300;
	line-height: 1.6;
	scroll-behavior: smooth;
	margin:auto;
	/*font-size: 2vh;*/
}

.container{
	display: grid;
	grid-template-rows: min-content 70vh repeat(7, min-content);
	grid-template-columns: [sidebar-start] minmax(min-content, 8rem) 
	[sidebar-end full-start] 1fr [full-end email-start] 
	minmax(min-content, 8rem) [email-end];
}
.nav__box{
	opacity:50;
	-webkit-animation:fade-in .5s .25s ease-in-out forwards;
	animation:fade-in .5s .25s ease-in-out forwards;
	}
.navigation--list{
	margin:0px 2rem;
}
.nav {
	display: flex;
	justify-content: space-between;
	grid-column: sidebar-start/email-end;
	grid-column-start: sidebar-start;
	grid-column-end: email-end;
	align-items: center;
	position: relative;
	margin: auto 2rem;
	padding: 1.7rem;
}

.image_ali1{
	transform:scale(2.5,2.5);
	width: 4em;
}
.image_ali,.image_ali1{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.image-sys{
	align-content: center;
	width: 35px;
	border:1px solid #d6cab0;
	border-radius:0.3rem;
	margin: auto;
}
.navigation{
	display:inline-flex;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}
.navigation--list--link{
	color:#d6cab0;
	text-decoration: none;
}
.sidebar{
	display: block;
	justify-content: center;
	align-self: center;
}
.lkicon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height:30px;
	margin: 20px;
	fill: #d6cab0;
}
.lkiconfill{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height:30px;
	margin: 20px;
	fill: #6A601D;
}
.lkiconfillc{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height:30px;
	margin: 20px;
	fill: #d6cab0;
}
.social_sidebar{
	float: left;
	width: 3.5rem;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: fixed;
	margin: 10px;
	align-items: center;
}
.email{
	display: flex;
	justify-content: flex-end;
	height: 100%;
  	width: 4rem;
  	position:fixed;
  	top: 0;
  	right: 0;
  	align-items: center;
  	writing-mode: vertical-rl;
}
.e_s{
	font-size: 1rem;
}
.email_link{
	color:#d6cab0;
	text-decoration:none;
	letter-spacing: .2rem;
}
.email::after{
	content:"";
	height: 12vh;
	width: 1px;
	background-color: #d6cab0;
	margin: 1rem auto 0;
}
.social_sidebar::after {
	content:"";
	height: 12vh;
	width: 1px;
	background-color: #d6cab0;
	margin: .5rem auto 0;
}
.nav__link{
	text-decoration: none;
	opacity: 100;
	color: #d6cab0;
	border:1px solid #d6cab0;
	border-radius:0.3rem;
	padding: 10px 20px 10px 20px;
}
.nav__box--logo{
	font-size:4rem;
	font-family: 'PT Serif', serif;
	-ms-flex-item-align:center;
	margin-top:0px;
	margin-bottom: 0px;
}
.header_text{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'PT Serif', serif;
	letter-spacing: 0.5rem;
}
.header1{
	grid-column: full-start/full-end;
	grid-column-start: full-start;
	grid-column-end: full-end;
	position: static;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    padding: 10px;
}

h1 ,h3{
	margin: 0px;
}
h1{
	font-size: 3rem;
}
h3{
	font-size: 1.2rem;
}
.allhead{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 961px) html{
	font-size:50%;
}
@media only screen and (min-width: 400px){
	font-size:50%;
}
@media only screen and (min-height: 1270px){
	.email_sidebar{
		position: fixed;

	}
}